@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,300;1,800&display=swap");
@import "/plugins/bootstrap/bootstrap.min.css";
@import "/plugins/@fortawesome/fontawesome-free/css/all.min.css";

body {
  /* margin: 0; */
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.5385;
  color: #333;
  text-align: left;
}

.navbar-brand {
  font-size: x-large;
}
nav {
  font-size: larger;
  padding-left: 500px;
}
.nav-link {
  margin-right: 10px;
}
.nav-link:hover {
  border-bottom: 2px solid #fff;
}
h1 {
  margin-bottom: 20px;
  color: #333;
}
button[type="button"] {
  color: black;
  background-color: orangered;
}
#container {
  margin: 100px auto;
}
