<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
    <script src="/plugins/jquery/jquery.slim.min.js"></script>
    <script src="/plugins/bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <%- include('../partials/navbar',{para1:'Login', style1:'fas fa-lock', para2:'Cart', style2:'fas fa-shopping-cart'})
    %>

    <div class="container">
      <h1>Details</h1>
    </div>
  </body>
</html>
